<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="../assets/img/destination__detail/" alt="">
    <div class="blog-detail-img">
        <!-- <img src="../assets/img/blogs_detail/blog-md-1.png" alt="">
        <img src="../assets/img/comment/comment-user-1.png" alt="">
        <img src="../assets/img/blogs_detail/blog-md-1.png" alt=""> -->
        <img src="../assets/img/blogs/blog-md-1.png" alt="">
    </div>
</body>
</html>