h1 {
  color: red;
}

img{
  width: 100%;
  /* height: 100%; */
}

tbody,td,th,thead,tr{
  border-color: #ccc;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 10px;
}
ol,ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* footer */

.footer {
  background-color: #2d373c;
  color: white;
  padding-top: 70px;
  font-family: "Barlow", sans-serif;
}

.footer h3 {
  font-weight: 700;
  font-size: 25px;
}

.footer li a {
  color: white;
}

.footer li {
  padding-top: 12px;
}

.footer .gallery-img {
  display: grid;
  grid-gap: 20px;
}

.footer svg {
  width: 30px;
  height: 30px;
  margin: 5px 25px 5px 0;
}

.footer svg.contact{
  width: 20px;
  height: 20px;
  margin: 2px 10px 2px 0;
}

.footer-second {
  background-color: #162b32;
}

.footer {
  background-image: url('https://demo.egenslab.com/html/tourxpro/demo/assets/images/banner/footer-bg.png');
}
  
  
  
  
  /* Start Destination */
  
  .header-destination {
    background-image: url(../../../user/assets/img/destination/breadcrumb-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
  }
  
  .content {
    padding: 120px 0;
  }
  
  .header-destination__home {
    text-decoration: none;
    font-size: 20px;
  }
  
  .header-destination__destination {
    text-decoration: none;
    font-size: 20px;
  }

  .desti--items {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 10px 12px;
  }

  .desti-content {
    position: relative;
  }

  .desti-text {
    position: absolute;
    width: 100%;
    top: 70%;
    /* padding-left: 26%; */
    text-align: center;
  } 

  .desti_places {
    display: inline-block;
    padding-top: 5px;
    display: none;
  }

  .desti--items:hover .desti-text {
    top: 60%;
    transition: all linear .3s;
  }

  .desti-title {
    text-align: center;
  }

  .desti-title::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 83px;
    background: #ff4838;  
    left: 50%;
    transform: translateX(-50%);
    top: 54%;
    opacity: 0;
    transition: all linear .3s;
  }

  @keyframes all {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .desti--items:hover .desti-title::before {
    opacity: 1;
  }


  .desti--items:hover .desti_places {
    display: block;
    transition: all ease .3s;
  }

  .desti--items img {
    width: 100%;
  }

  .desti--items:hover img {
    transform: scale(1.03);
    transition: all linear .3s;
  }

  .desti-content__img {
    overflow: hidden;
  }
  
  /* End Destination */


  /* Start Destination detail */
.desti__detail--content, .tour__container {
  margin: 100px 0;
}

.desti--detail__overview-table {
    background: #fff;
    box-shadow: 3px 5px 35px rgba(86,68,169,.1);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align:left;
}

.desti__detail--package-widget {
  background: #fff;
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 5px;
}

.desti__detail--widget-title {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.desti__detail--widget-title h4 {
  font-weight: 600;
  font-size: 20px;
  color: #2d373c;
}

.desti__detail--widget-body {
  padding: 20px;
}

.desti__detail--search-input-group {
  display: flex;
  height: 44px;
  width: 100%;
}

.desti__detail--search-input-group input {
  height: 100%;
  background: #f5f5f5;
  border-radius: 44px 0 0 44px;
  padding: 10px 15px;
  outline: none;
  border: none;
}

.desti__detail--search-input-group button {
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #ff4838;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 44px 44px 0;
  margin-left: -1px;
  transition: .3s;
}

.desti__detail--category-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

.desti__detail--form-check-label {
  font-weight: 500;
  font-size: 16px;
  color: #2d373c;
  cursor: pointer;
  transition: all .2s;
}

.desti__detail--form-check-label svg {
  font-weight: 500;
  font-size: 16px;
  color: #2d373c;
  cursor: pointer;
  transition: all .2s;
}

.desti__detail--form-check-label svg {
  color: black;
}

.desti__detail--form-check-label:hover {
  color: #ff4838;
}

.desti__detail--form-check-label:hover .desti__detail--form-check-label svg {
  color: #ff4838 !important;
}

.desti__detail--category-check input {
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.desti__detail--category-check input:focus {
  box-shadow: 0 0 0 0.25rem rgba(13,253,58,.25);
}

.desti__detail--category-check input[type="checkbox"] {
  border-radius: 0.25em;
  outline: none;
  /* border: none; */
}

.desti__detail--category-check input[type="checkbox"]:checked {
  background-color: #ff4838;
  outline: none;
  border: none;
}

.desti__detail--widget-body div div img {
  cursor: pointer;
}

.desti--detail__overview-table tbody tr td {
  color: #ff4838;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 0 15px 20px;
}
  /* End Destination detail */




  /* Start Tour */

.row-item {
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.tour__img {
  position: relative;
}

.tour__time {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  background: #ff4838;
  border-radius: 3px;
  position: absolute;
  padding: 9px 32px;
  bottom: 0;
  left: 20px;
  transform: translateY(50%);
  clip-path: polygon(9% 0,90% 3%,100% 94%,0 100%);
}

.tour__description--items{
  text-align: center; 
  align-items: center; 
}

.tour__description--btn {
  text-align: center;
}

.tour-description--price {
  text-align: left;
}

.tour__description--btn a,
.tour-description--price h6 span:first-child {
  color: #ff4838;
  border-color: #ff4838;
  font-weight: 500;
  text-transform: uppercase;
}

.row-item:hover .tour__description--btn a  {
  background-color: #ff4838;
  color: #fff;
}

.row-item:hover .tour__description--btn a svg  {
  margin-left: 5px;
  transition: all .2s;
}

.tour__duration {
  justify-content: normal;
}

.newPackage__price span:first-child {
  color: #ff4838;
  border-color: #ff4838;
  font-weight: 500;
  text-transform: uppercase;
}

.package__img {
  padding: 0 5px;
}

.page-link, 
.page-item {
  color: #ff4838 !important;
}

.package__title {
  font-size: 14px;
  font-weight: 600;
}

.package__title:hover {
  color: #ff4838;
  cursor: pointer;
}
  /* End Tour */


  /* Start Tour Detail */
  .tour__detail--container {
    margin: 100px 0;
  }

  .tour-detail__title {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  .tour-detail__title--location p {
    font-size: 18px;
    font-weight: 600;
    color: #ff4838;
    margin-bottom: 0;
  }

  .tour-detail__title--rate {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .tour-detail__title--rate svg {
    color: #ff4838;
    margin-right: 5px;
  }

  .tour__detail--navbar {
    justify-content: space-evenly;
  }

  .tour--detail__nav-item{
    border-radius: 40px;
    margin: 10px 10px;
  }

  .tour--detail__nav-item svg {
    /* padding-right: 10px; */
    font-size: 1.2rem ;
  }

  .tour__detail--navbar li button span {
    text-align: center;
    font-weight: 500;
    width: 100%;
    font-size: 1.2rem;
  }

  .tour__detail--navbar li button{
    color: #000;
  }

  .nav-pills .nav-link.active, .nav-pills .show {
    border-radius: 40px;
  }

  .nav-pills .nav-link {
    border-radius: 40px;
    border: 2px solid #ff4838;
  }

  .nav-link:focus, .nav-link:hover {
    color: #fff;
    background-color: #ff4838;
    border-radius: 40px;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff4838;
    border: 2px solid #ff4838;
    border-radius: 40px;
  }

  /* Start Link video */

  .tour-package-details, .package-info-tab, .p-info-featured-img, .featured-video  {
    left: 38%;
    bottom: -30px;
    width: auto;
    padding: 0;
    margin: 0;
    border-right: 5px;
    overflow: hidden;
  }

 .video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255,72,56,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


.featured-video {
  position: relative;
  top: -100px;
  overflow: hidden;
}

/* End link video */

.tour__detail--transport {
  text-align: center;
}

.tour__detail--transport img {
  width: 3%;
}

.tour__detail--comment__title {
  color: #454545;
}

.tour__detail--comment__title span {
  font-size: 14px;
  text-transform: capitalize;
  color: #ff4838;
  padding-bottom: 10px;
}

.tour__detail--comment__rates {
  display: flex;
  justify-content: end;
  flex-direction: row;
}

.tour__detail--comment__rates svg {
  color: #ff4838;
  margin-right: 5px;
}

.tour__detail--comment__description {
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 8px;
  color: #666;
}

.tour__detail--viewALLComment {
  text-align: center;
  margin: 10px;
  color: #666;
  font-size: 17px;
  font-weight: 600;
}

.tour__detail--viewALLComment:hover {
  color: #ff4838;
  cursor: pointer;
}

.tour__detail--comment__inputs div input,
.tour__detail--comment__inputs div textarea {
  width: 100%;
  background: rgba(245,245,245,.7);
  border: 1px solid rgba(255,72,56,.15);
  box-sizing: border-box;
  border-radius: 100px;
  height: 50px;
  margin-top: 14px;
  appearance: none;
  padding-left: 20px;
}

.tour__detail--comment__inputs div input{
  border-radius: 100px;
}

.tour__detail--comment__inputs div textarea{
  border-radius: 50px;
  padding: 10px;
}

.rate{

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #ff4838;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


  /* End Tour Detail*/