
h1 {
  color: red;
}

.hidden {
  display: none;
}
  
/* Start Destination */

.header-destination {
  background-image: url(../../../user/assets/img/destination/breadcrumb-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 320px;
}

.content {
  padding: 120px 0;
}

.header-destination__home {
  text-decoration: none;
  font-size: 20px;
}

.header-destination__destination {
  text-decoration: none;
  font-size: 20px;
}

.desti--items {
  overflow: hidden;
  cursor: pointer;
}

.desti-content {
  position: relative;
}

.desti-content  .desti-text {
  position: absolute;
  top: 70%;
  /* padding-left: 26%; */
  text-align: center;
} 

.desti_places {
  display: inline-block;
  padding-top: 5px;
  display: none;
}

.desti--items:hover .desti-text {
  top: 60%;
}

.desti-title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 83px;
  background: #ff4838;  
  left: 65%;
  transform: translateX(-50%);
  top: 54%;
  opacity: 0;
  transition: all .3s;
}

.desti--items:hover .desti-title::before {
  opacity: 1;
}


.desti--items:hover .desti_places {
  display: block;
}

.desti--items img {
  width: 100%;
}

.desti--items:hover img {
  transform: scale(1.01);
}

/* End Destination */

/* Start Blogs */
.container{
  margin-top: 50px;
}
.blog-item-img{
  overflow: hidden;
}
.blog-item-img img{
  width: 100%;
}
.blog-item{
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.blog-item:hover .blog-travle a{
  background-color: #666666;
}
.blog-item:hover .hover-zoom {
  transform: scale(1.05);
}
.blog-item-content{
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.blog-item-writer,
.blog-item-date{
  display: flex;
}
.blog-item-content a{
  font-weight: 500;
  font-size: 14px;
  color: #696969;
  text-decoration: none;
}
.blog-writer-name,
.blog-date-time{
  margin-left: 10px;
}

.blog-item-icon{
  color: #FF4838;
}
.blog-item-title{
  padding-top: 8px;
  font-weight: 600;
  line-height: 28px;
  font-size: 20px;
  color: #2d373c;
  text-align: center;
}

.hover-zoom {
  transition: transform 0.5s;
}

.blog-travle a{
  position: absolute;
  top: 26px;
  left: 26px;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  display: inline-block;
  background: #ff4838;
  box-shadow: 0 0 15px rgba(206,62,38,.1);
  border-radius: 3px;
  padding: 4px 20px;
  transition: all .3s;
}
.blog-pagination{
  margin: 75px 0 110px 0;
}
.blog-list{
  display: flex;
  padding-left: 0;
  justify-content: center;
}
.blog-pagination-item{
  margin: 0 10px 0 10px;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
  background-color: #fff;
  list-style: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #FF4838;
}
.blog-pagination-item {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.blog-pagination-item:hover{
  background-color: #FF4838;
}
.blog-pagination-item:hover a{
  color: #fff;
}
.blog-pagination-item.current-page {
  background-color: #FF4838;
}
.blog-pagination-item.current-page a {
  color: #fff;
}
.blog-pagination-item a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  padding: 10px;
}

.blog-page-arrow{
  border-radius: 50%;
  background-color: #FF4838;
}
.blog-page-arrow a{
  color: white;
}
/* End Blogs */

/* Start blog detail */
.blog-detail-left-side,
.blog-detail-right-side{
  padding-right: calc(var(--bs-gutter-x) * 1);
  padding-left: calc(var(--bs-gutter-x) * 1);
}
.blog-detail-search-group{
  height: 44px;
}
.blog-detail-search input{
    height: 100%;
    width: 100%;
    background: #f5f5f5;
    border-radius: 44px 0 0 44px;
    padding: 10px 15px;
    border: none;
    outline: none;
}
.blog-detail-search button{
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #ff4838;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 44px 44px 0;
  margin-left: -1px;
  transition: .3s;
  height: 100%;
}
.blog-detail-search button:hover{
  background: #162b32;
}

.blog-detail-img img{
  width: 100%;
  height: 380px;
  overflow: hidden;
  border-radius: 5px;
}
.blog-detail-post-item{
  height: 80px;
}
.blog-detail-post-img{
  flex: 0.2;
  margin-right: 15px;
}
.blog-detail-post-img img{
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 5px;
}
.blog-detail-post-infor{
  flex: 0.8;
}
.blog-detail-tags-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-top: -10px;
}
.blog-detail-tags-body a{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: #2d373c;
  border: 1px solid rgba(45,55,60,.3019607843);
  padding: 6px 18px;
  margin-right: 12px;
  margin-top: 10px;
  transition: all .3s;
  text-decoration: none;
}
.blog-detail-tags-body a:hover{
  border-color: #ff4838;
  background: #ff4838;
  color: #fff;
}
.blog-detail-gallery-body li{
  flex: 0 0 30%;
  margin: 6px; 
  box-sizing: border-box;
}
.blog-detail-gallery-body img{
  width: 90%;
  height:90%;
  object-fit: cover;
  border-radius: 4px;
}
.blog-detail-gallery-body ul{
  flex-wrap: wrap;
  height: 240px;
  box-sizing: border-box;
}
.blog-detail-post a{
  text-decoration: none;
  color: #696969;
  margin-right:50px;
}
.blog-detail-text{
  font-size: 16px;
  line-height: 30px;
  color: #666;
  margin-top: 20px;
}
.blog-detail-comment{
  margin-top: 150px ;
}
.blog-detail-comment-item{
  width: 100%;
}
.blog-detail-comment-date{
  font-size: 14px;
  text-transform: capitalize;
  color: #ff4838;
}
.blog-detail-comment-text{
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 8px;
  color: #666;
}
.blog-detail-reply-btn a{
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  color: #162b32;
  text-decoration: none;
}
.blog-detail-reply-btn a:hover{
  color: #ff4838;
}
.comment-btn a{
  font-weight: 600;
  font-size: 17px;
  color: #666;
  display: inline-block;
  transition: .3s;
  text-decoration: none;
}
.comment-btn a:hover{
  color: #ff4838;
}
.blog-detail-leave-comment{
  margin-top: 180px;
}
.blog-detail-form-rate{
  color: #ff4838;
}
.blog-detail-categories-body li{
  padding-top: 15px;
}
.blog-detail-categories-body a{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #2d373c;
  transition: all .2s;
}
.blog-detail-categories-body a:hover{
  color: #ff4838;
}
.blog-detail-categories-body span{
  float: right;
}
.blog-detail-posts-date,
.blog-detail-post-writer{
  font-weight: 500;
  font-size: 12px;
  color: #696969;
}
.blog-detail-post-writer{
  margin-right: 30px;
}
.blog-detail-post-group{
  margin: 8px 0;
}
.blog-detail-post-heading{
  font-weight: 600;
  font-size: 15px;
  color: #2d373c;
  line-height: 20px;
}
.blog-detail-post-item:hover .blog-detail-post-heading{
  color: #ff4838;
}
.blog-detail-comment-content{
  width: 100%;
}

.blog-detail-form-rate {
  display: flex;
  gap: 5px;
}

.fa-regular.fa-star.filled {
  color: #0a0302;
  cursor: pointer;
}
.icon-unrating,
.icon-rating{
  color: #ff4838;
  margin-left: 5px;
}

/* End blog detail */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

@media (min-width: 740px) {

}
@media (min-width: 1113px) {}
@media (min-width: 740px) and (max-width: 1023px) {}
@media (min-width: 1024px) and (max-width: 1239px) {}


tbody,td,th,thead,tr{
  border-color: #ccc;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 10px;
}
ol,ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* footer */

.footer {
  background-color: #2d373c;
  color: white;
  padding-top: 70px;
  font-family: "Barlow", sans-serif;
  background-image: url('https://demo.egenslab.com/html/tourxpro/demo/assets/images/banner/footer-bg.png');
  position: relative;
}

.footer h3 {
  font-weight: 700;
  font-size: 25px;
}

.footer li a {
  color: white;
}

.footer .icon {
  display: inline-flex;
  padding: 8px 0;
  border-radius: 50px;
  background-color:#ff4838;
  width: 40px;
  height: 40px;
  justify-content: center;
  transition: color 0.5s linear;
}

.footer .icon:hover {
  background-color: #2d373c;
  border: 1px solid #ff4838;
  color: #ff4838;
}

.footer li {
  padding-top: 12px;
}

.footer .gallery-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer .gallery-img img {
  margin: 0 0.75rem;
}

.footer svg {
  width: 15px;
  height: 22px;
}


.footer svg.contact{
  width: 20px;
  height: 20px;
  margin: 2px 10px 2px 0;
}

.footer-second {
  background-color: #162b32;
}

.footer .footer-first ul li:hover {
  transform: translateX(14px);
}


.footer .footer-first ul li::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -12px;
  height: 5px;
  width: 5px;
  background: #ff4838;
  border-radius: 50%;
  opacity: 0;
  margin-top: 5px;
}

.footer .footer-first ul li:hover::before {
  opacity: 1;
}

.footer .footer-first .follow li:hover {
  transform: translateX(0);
}

.footer .footer-first .follow li::before {
  width: 0;
  height: 0;
  transform: translateY(0);
}

/* -- footer -- */
 

/* navbar */

.navbar {
  background-color: #162b32;
  font-family: "Barlow", sans-serif;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

.text-orange {
  color: #ff4838;
  width: 30px;
  height: 30px;
  margin: 10px 4px 0 4px;
}

.navbar .hotline a {
  font-size: 13px;
}

.navbar .nav-item .nav-link {
  color: white;
}

.navbar .nav-item .nav-link:hover {
  color: #ff4838;
}

.navbar .feature svg{
  width: 22px;
  height: 22px;
}

.navbar .feature .user svg {
  margin: 13px 20px 0 20px;
  cursor: pointer;
}

.navbar .feature .category svg {
  margin: 22px 20px 0 0;
  cursor: pointer;
}

.navbar .logo {
  cursor: pointer;
}

.navbar .des {
  color: white;
}

.dropdown-menu[data-bs-popper] {
  top: 128%;
}

.bg-color {
  background-color: #162b32;
}

.navbar .user-dropdown li a, .navbar .des li a{
  color: white;
}

.navbar .user-dropdown li a:hover{
  color: #ff4838;
}

.navbar .dropdown-item:hover {
  background-color: #162b32;
}

.navbar .des li:hover {
  background-color: #ff4838;
  color: white;
}

.navbar .des li a{
  color: black;
}

.navbar .des li a:hover {
  color: white;
}

.navbar .des {
  display: none;
  background-color: white;
  position: absolute;
  top: 100%;
}

.navbar .des li {
  padding: 10px;
}

.navbar li.nav-item:hover ul.des {
  display: block;
}

.navbar .nav-item .nav-link.active {
  color: #ff4838;
}

/* -- navbar -- */

/* homepage */

.homepage {
  background-color: rgb(240, 240, 240);
  padding-top: 30px;
}

.homepage_first{
  background: url(https://demo.egenslab.com/html/tourxpro/demo/assets/images/banner/hero-two-bg.png), linear-gradient(rgb(231, 231, 231) 100%,rgb(238, 238, 238) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.homepage_search {
  margin-bottom: 130px;
}

.homepage_search svg {
  width: 25px;
  height: 25px;
  color: #ff4838;
  margin-top: 15px;
}

.homepage_search .destination,
.homepage_search .traveltype,
.homepage_search .person,
.homepage_search .capslock {
  border: 1px solid gray;
}

.homepage_search button {
  background-color: #ff4838;
  color: white;
  font-weight: 600;
  border: none;
  width: 100%;
  height: 100%;
  padding: 23px 0;
  border: 1px solid #ff4838;
  transition: color 0.7s linear;
  margin-top: 3px;
}

.homepage_search button:hover {
  color: #ff4838;
  background-color: white;
  border: 1px solid #ff4838;
  cursor: pointer;
}


.homepage_search .home {
  border-top: none;
  padding: 20px 10px 5px 30px;
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
}

.homepage_search .date {
  height: 36px ;
  width: 100%;
  border: none;
  outline: none;
}

.homepage_search select {
  width: 100%;
  padding-left: 0;
  border: none;
}

.homepage .submit {
  margin-right: 10px;
}

.slide .slide-img {
  width: 100%;
}


.slide .address svg {
  width: 22px;
  height: 22px;
  color: #ff4838;
}

.slide .title h3{
  font-size: 50px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 65px;
  padding-top: 2px;
}

.slide .title .yourself {
  color: #ff4838;
}

.slide .price h5{
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 16px;
}

.slide .price .person{
  font-size: 20px;
  color: #ff4838;
}

.slide .detail p {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: .02em;
  color: #666;
  padding-top: 25px;
}

.slide .button {
  padding-top: 14px;
}

.slide .button button {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #ff4838;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 40px;
  margin: 20px 30px 30px 0;
  border: 2px solid #ff4838;
  transition: color 0.7s linear;
}

.slide .button button:hover {
  background-color: white;
  color: #ff4838;
}

.homepage_second {
  padding-top: 100px;
  padding-bottom: 100px;
}

.homepage_second .thumb-day, .homepage_five .thumb-day {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  background: #ff4838;
  border-radius: 3px;
  position: absolute;
  padding: 9px 32px;
  bottom: -15px;
  left: 20px;
  transform: translateY(50%);
  clip-path: polygon(9% 0,90% 3%,100% 94%,0 100%);
}

.homepage_second .package-thumb, .homepage_five .package-thumb {
  position: relative;
}

.homepage_second .package-img, .homepage_five .package-img {
  width: 100%;
}

.homepage_second .package-body, .homepage_five .package-body {
  padding: 30px 25px;
  background-color: white;
}

.homepage_second .body-content h3, .homepage_five .body-content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #454545;
}

.homepage_second .body-info, .homepage_five .body-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.homepage_second .body-info .book-btn a,
.homepage_five .body-info .book-btn a {
  font-size: 13px;
  padding: 7px 4px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff4838;
  background: #fff;
  border: 1px solid #ff4838;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all .7s;
}

.homepage_second .body-info .book-btn a:hover,
.homepage_five .body-info .book-btn a:hover {
  background-color: #ff4838;
  color: white;
}

.homepage_second .body-price .from,
.homepage_five .body-price .from{
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: #2d373c;
}

.homepage_second .body-price h6, .homepage_five .body-price h6 {
  color: #ff4838;
  font-weight: 800;
  font-size: 17px;
  line-height: 1;
}

.homepage_second .body-price .person, .homepage_five .body-price .person {
  font-size: 14px;
  color: #2d373c;
  font-weight: 500;
  text-transform: capitalize;
}

.homepage_second .package-card, .homepage_five .package-card {
  border-radius: 20px;
  margin-top: 20px;
}

.homepage_second .package-btn, .homepage_five .package-btn {
  margin-top: 60px;
  text-align: center !important;
}

.homepage_second .package-btn a, .homepage_five .package-btn a{
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #ff4838;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 40px;
  border: 2px solid #ff4838;
  transition: all .35s;
}

.homepage_second .package-btn a:hover, .homepage_five .package-btn a:hover {
  background-color: white;
  color: #ff4838;
}

.homepage_third h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #2d373c;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 50px;
}

.homepage_third .top-thumb img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.homepage_third .top-card {
  position: relative;
}

.homepage_third .top-content {
  position: absolute;
  bottom: 20px;
  left: 0px;
  text-align: center;
  width: 100%;
}

.homepage_third .content-title {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: .02em;
  color: #fff;
  transform: translateY(25px);
  transition: all .3s;
  position: relative;
  padding-bottom: 8px;
}

.homepage_third .content-title::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 83px;
  background: #ff4838;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  transition: all .3s;
}

.homepage_third .content-place {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .02em;
  color: #fff;
  transform: translateY(20px);
  opacity: 0;
  transition: all .3s;
}

.homepage_third .top-card:hover .top-content .content-place,
.homepage_third .top-card:hover .top-content .content-title {
  transform: translateY(0);
  opacity: 1;
}

.homepage_third .top-card:hover .top-content .content-title::before {
  opacity: 1;
}

.homepage_third .content-place span {
  font-size: 20px;
}

.homepage_third .top-card:hover .top-thumb img {
  transform: scale(1.03);
}

.homepage_four {
  margin-top: 120px;
}

.homepage_four .banner_left {
  background: linear-gradient(rgba(45,55,60,0.8) 100%,rgba(45,55,60,0.8) 100%),url(../../../user/assets/img/homepage/banner/banner_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  min-height: 552px;
}

.homepage_four .left-content {
  max-width: 528px;
}

.homepage_four .left-content h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
}

.homepage_four .left-content span {
  color: #ff4838;
}

.homepage_four .left-content h6 {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  padding-top: 17px;
  font-weight: 400;
}

.homepage_four .explore-btn {
  margin-top: 40px;
}

.homepage_four .explore-btn a {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #ff4838;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 40px;
  border: 2px solid #ff4838;
  transition: all .35s;
}

.homepage_four .explore-btn a:hover {
  color: #ff4838;
  background: 0 0;
}

.homepage_four .banner_right {
  background: linear-gradient(rgba(222,185,155,0.3) 100%,rgba(222,185,155,0.3) 100%),url(../../../user/assets/img/homepage/banner/banner_2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 20px;
  min-height: 552px;
}

.homepage_four .right-content {
  max-width: 570px;
}

.homepage_four .right-content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #ff4838;
  font-family: Arial, Helvetica, sans-serif;
}

.homepage_four .right-content h6 {
  font-size: 20px;
  line-height: 30px;
  color: #666;
  font-weight: 400;
  padding-top: 10px;
}

.homepage_four .form-body {
  display: flex;
  height: 56px;
  margin-top: 44px;
}

.homepage_four .form-body input {
  background: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 50px 0 0 50px;
  height: 100%;
  padding: 20px;
  width: 100%;
}

.homepage_four .form-body button {
  border: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: #ff4838;
  border-radius: 0 50px 50px 0;
  height: 100%;
  padding: 0 30px;
  margin-left: -1px;
}

.homepage_four .form-body button:hover {
  background: 0 0;
  border: 2px solid #ff4838;
  color: #ff4838;
}

.homepage_five {
  padding-top: 110px;
}

.homepage_five .btn {
  margin: 20px;
  border-radius: 50px;
  font-weight: 700;
}

/* .homepage_five .offer-button .btn-10 {
  height: 87px;
  width: 87px;
  font-size: 28px;
  color: #fff;
  background: #ff4838;
  border: 2px solid #ff4838;
} */

.homepage_five .offer-button .btn-10,
.homepage_five .offer-button .btn-20,
.homepage_five .offer-button .btn-30 {
  height: 60px;
  width: 60px;
  font-size: 20px;
  color: #ff4838;
  background: white;
  border: 2px solid #ff4838;
}

.homepage_six {
  margin-top: 110px;
}

.homepage_six h2 {
  padding-bottom: 100px;
}

.homepage_six .map-img img {
  width: 100%;
  height: 100%;
}

.homepage_six .location {
  position: absolute;
}


.homepage_six .location .location-icon {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 5px;
}

.homepage_six .location .location-icon svg {
  width: 30px;
  height: 30px;
  color: #ff4838;
  cursor: pointer;
}

.homepage_six .location .location-disc {
  width: 120px;
  background: #fff;
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  margin-top: 20px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: all .35s;
  transform: translateY(20px);
}

.homepage_six .location .location-disc::before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 10px;
  height: 12px;
  width: 20px;
  background: #fff;
  clip-path: polygon(50% 0%,0% 100%,100% 100%);
}

.homepage_six .location .location-disc h6 {
  font-weight: 700;
  font-size: 20px;
  color: #2d373c;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.homepage_six .location:hover .location-disc {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.homepage_six .location-1 {
  top: 20%;
  left: 10%;
}

.homepage_six .location-2 {
  top: 30%;
  left: 38%;
}

.homepage_six .location-3 {
  top: 40%;
  left: 60%;
}

.homepage_six .location-4 {
  top: 60%;
  left: 15%;
}

.homepage_six .location-5 {
  top: 50%;
  left: 50%;
}

.homepage_seven .feedback {
  background-image: url(../../../user/assets/img/homepage/feedback/feedback.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0;
}

.homepage_seven .feedback h2 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
  line-height: 37px;
  font-family: Arial, Helvetica, sans-serif;
}

.homepage_seven .feedback-content {
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  max-width: 790px;
  cursor: pointer;
}

.homepage_seven .feedback-content .review-text {
  font-size: 16px;
  line-height: 30px;
  color: #666;
}

.homepage_seven .feedback-content .review-text p {
  margin: 0;
  font-size: 16px;
}

.homepage_seven .feedback-content .content-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.homepage_seven .feedback-content .review-info {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 20px;
}

.homepage_seven .feedback-content .review-info .info-thumb {
  cursor: pointer;
  margin-right: 15px;
}

.homepage_seven .feedback-content .content-info ul {
  padding-top: 20px;
  display: flex;
  justify-content: end;
}

.homepage_seven .feedback-content .content-info ul li {
  padding: 0 5px;
  color: #ff4838;
}

.homepage_eight {
  padding-top: 110px;
}

.homepage_eight .blog h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  color: #2d373c;
  font-family: Arial, Helvetica, sans-serif;
}

.homepage_eight .btn-viewall a {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #ff4838;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 40px;
  border: 2px solid #ff4838;
  transition: all .35s;
}

.homepage_eight .btn-viewall a:hover {
  background-color: white;
  color: #ff4838;
}

.homepage_eight .blog-card {
  background: #fff;
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 5px 5px 20px 20px;
  overflow: hidden;
}

.homepage_eight .blog-thumb {
  position: relative;
  overflow: hidden;
}

.homepage_eight .blog-thumb .card-thumb img {
  width: 100%;
}

.homepage_eight .blog-thumb .card-type {
  position: absolute;
  top: 25px;
  left: 25px;
}

.homepage_eight .blog-thumb .card-type a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  display: inline-block;
  background: #ff4838;
  box-shadow: 0 0 15px rgba(206,62,38,.1);
  border-radius: 3px;
  padding: 4px 20px;
  transition: all .3s;
}

.homepage_eight .blog-thumb:hover .card-type a {
  background-color: #666;
}

.homepage_eight .blog-content {
  padding: 20px;
  text-align: center;
}

.homepage_eight .info-user {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.homepage_eight .info-user a {
  font-weight: 500;
  font-size: 14px;
  color: #696969;
}

.homepage_eight .info-user a svg {
  color: #ff4838;
  margin-bottom: 5px;
}

.homepage_eight .title {
  padding-top: 8px;
  font-weight: 600;
  line-height: 28px;
  font-size: 20px;
  color: #2d373c;
}

.homepage_nine {
  margin-top: 100px;
  padding-bottom: 100px;
}

.homepage_nine img {
  width: 100%;
}

.homepage_nine .social-card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.homepage_nine .social-thumb img {
  width: 100%;
  transition: all .35s;
}

.homepage_nine .card-overlay {
  position: absolute;
  inset: 30px;
  background: linear-gradient(180deg,rgba(45,55,60,0.7) 0%,rgba(206,62,38,0.7) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all .3s;
}

.homepage_nine .card-overlay svg {
  font-size: 35px;
  color: #fff;
  transform: scale(0);
  transition: all .3s;
  width: 30px;
  height: 30px;
}

.homepage_nine .card-overlay svg::before {
  content: "/e926";
}

.homepage_nine .social-card:hover .card-overlay{ 
  opacity: 1;
  inset: 0;
}

.homepage_nine .social-card:hover svg{ 
 transform: scale(1);
}

/* -- homepage -- */
  
  /* Start Destination */
  
  .header-destination {
    background-image: url(../../../user/assets/img/destination/breadcrumb-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 320px;
  }
  
  .dirc_destination {
    padding: 0;
  }

  .content {
    padding: 120px 0;
  }
  
  .header-destination__home {
    text-decoration: none;
    font-size: 20px;
  }
  
  .header-destination__destination {
    text-decoration: none;
    font-size: 20px;
  }
  

  .desti--items {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 10px 12px;
  }

  .desti-content {
    position: relative;
  }

  .desti-text {
    position: absolute;
    width: 100%;
    top: 70%;
    /* padding-left: 26%; */
    text-align: center;
  } 

  .desti_places {
    display: inline-block;
    padding-top: 5px;
    display: none;
  }

  .desti--items:hover .desti-text {
    top: 60%;
    transition: all linear .3s;
  }

  .desti-title {
    text-align: center;
  }

  .desti-title::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 83px;
    background: #ff4838;  
    left: 50%;
    transform: translateX(-50%);
    top: 54%;
    opacity: 0;
    transition: all linear .3s;
  }

  @keyframes all {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0.3;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

  .desti--items:hover .desti-title::before {
    opacity: 1;
  }


  .desti--items:hover .desti_places {
    display: block;
    transition: all ease .3s;
  }

  .desti--items img {
    width: 100%;
  }

  .desti--items:hover img {
    transform: scale(1.03);
    transition: all linear .3s;
  }

  .desti-content__img {
    overflow: hidden;
  }
  
  /* End Destination */


  /* Start Destination detail */
.desti__detail--content, .tour__container {
  margin: 100px 0;
}

.desti--detail__overview-table {
    background: #fff;
    box-shadow: 3px 5px 35px rgba(86,68,169,.1);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    text-align:left;
}

.desti__detail--package-widget {
  background: #fff;
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 5px;
}

.desti__detail--widget-title {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.desti__detail--widget-title h4 {
  font-weight: 600;
  font-size: 20px;
  color: #2d373c;
}

.desti__detail--widget-body {
  padding: 20px;
}

.desti__detail--search-input-group {
  display: flex;
  height: 44px;
  width: 100%;
}

.desti__detail--search-input-group input {
  height: 100%;
  background: #f5f5f5;
  border-radius: 44px 0 0 44px;
  padding: 10px 15px;
  outline: none;
  border: none;
}

.desti__detail--search-input-group button {
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background: #ff4838;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 44px 44px 0;
  margin-left: -1px;
  transition: .3s;
}

.desti__detail--category-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

.desti__detail--form-check-label {
  font-weight: 500;
  font-size: 16px;
  color: #2d373c;
  cursor: pointer;
  transition: all .2s;
}

.desti__detail--form-check-label svg {
  font-weight: 500;
  font-size: 16px;
  color: #2d373c;
  cursor: pointer;
  transition: all .2s;
}

.desti__detail--form-check-label svg {
  color: black;
}

.desti__detail--form-check-label:hover {
  color: #ff4838;
}

.desti__detail--form-check-label:hover .desti__detail--form-check-label svg {
  color: #ff4838 !important;
}

.desti__detail--category-check input {
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.desti__detail--category-check input:focus {
  box-shadow: 0 0 0 0.25rem rgba(13,253,58,.25);
}

.desti__detail--category-check input[type="checkbox"] {
  border-radius: 0.25em;
  outline: none;
  /* border: none; */
}

.desti__detail--category-check input[type="checkbox"]:checked {
  background-color: #ff4838;
  outline: none;
  border: none;
}

.desti__detail--widget-body div div img {
  cursor: pointer;
  width: 100%;
}

.desti--detail__overview-table tbody tr td {
  color: #ff4838;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 0 15px 20px;
}
  /* End Destination detail */




  /* Start Tour */

.row-item {
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.tour__img {
  position: relative;
}

.tour__time {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  background: #ff4838;
  border-radius: 3px;
  position: absolute;
  padding: 9px 32px;
  bottom: 0;
  left: 20px;
  transform: translateY(50%);
  clip-path: polygon(9% 0,90% 3%,100% 94%,0 100%);
}

.tour__description--items{
  text-align: center; 
  align-items: center; 
}

.tour__description--btn {
  text-align: center;
}

.tour-description--price {
  text-align: left;
}

.tour__description--btn a,
.tour-description--price h6 span:first-child {
  color: #ff4838;
  border-color: #ff4838;
  font-weight: 500;
  text-transform: uppercase;
}

.row-item:hover .tour__description--btn a  {
  background-color: #ff4838;
  color: #fff;
}

.row-item:hover .tour__description--btn a svg  {
  margin-left: 5px;
  transition: all .2s;
}

.tour__duration {
  justify-content: normal;
}

.newPackage__price span:first-child {
  color: #ff4838;
  border-color: #ff4838;
  font-weight: 500;
  text-transform: uppercase;
}

.package__img {
  padding: 0 5px;
}

.page-link, 
.page-item {
  color: #ff4838 !important;
}

.package__title {
  font-size: 14px;
  font-weight: 600;
}

.package__title:hover {
  color: #ff4838;
  cursor: pointer;
}
  /* End Tour */


  /* Start Tour Detail */

  .content div {
    margin: 0;
  }
  .tour__detail--container {
    margin: 100px 0;
  }

  .tour-detail__row--navbar {
    margin: 0;
  }

  .tour-detail__title {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  .tour-detail__title--location p {
    font-size: 18px;
    font-weight: 600;
    color: #ff4838;
    margin-bottom: 0;
  }

  .tour-detail__title--rate {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .tour-detail__title--rate svg {
    color: #ff4838;
    margin-right: 5px;
  }

  .tour__detail--navbar__content {
    justify-content: space-evenly;
  }

  .tour--detail__nav-item{
    border-radius: 40px;
    margin: 10px 10px;
  }

  .tour--detail__nav-item svg {
    /* padding-right: 10px; */
    font-size: 1.2rem ;
  }

  .tour__detail--navbar__content li button span {
    text-align: center;
    font-weight: 500;
    width: 100%;
    font-size: 1.2rem;
  }

  .tour__detail--navbar__content li button{
    color: #000;
  }

  .nav-pills .nav-link.active, .nav-pills .show {
    border-radius: 40px;
  }

  .nav-pills .nav-link {
    border-radius: 40px;
    border: 2px solid #ff4838;
  }

  .tour--detail__nav-item .nav-link:focus, .tour--detail__nav-item .nav-link:hover {
    color: #fff;
    background-color: #ff4838;
    border-radius: 40px;
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ff4838;
    border: 2px solid #ff4838;
    border-radius: 40px;
  }
  .accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: -1;
  
  }

/* Start Gallery */
  /* Start Link video */

.tour-gallery{
  height: 900px;
}
.tour-guide-gallery{
  margin: 60px 0 110px 0;
}
.tour-gallery-img {
    overflow: hidden;
}
.gallery-img-slider{
  display: flex;
}
.gallery-distance{
  margin: 36px 0 36px 0;
}
.gallery-img-item img{
  width: 100%;
}
.gallery-img-wrapper-couple,
.gallery-img-wrapper {
  margin: 10px; 
  position: relative;
  overflow: hidden; 
} 
.gallery-img-couple1:hover .gallery-overlay,
.gallery-img-couple2:hover .gallery-overlay,
.gallery-img-wrapper:hover .gallery-overlay{
  opacity: 1;
}

.gallery-img-wrapper:hover .gallery-overlay i{
  transform: scale(1.5);
}
.gallery-img-couple{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 455px;
}
.gallery-img-couple1,
.gallery-img-couple2{
  position: relative;
}

.gallery-img-couple1 img,
.gallery-img-couple2 img{
  height: 210px;
  width: 100%;
}
.tour-gallery-heading{
  margin-left: -12px;
  margin: 30px 0 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tour-gallery-heading p{
  font-weight: 700;
  font-size: 30px;
  color: #2d373c;
}
.gallery-guide-icon-navigate,
.gallery-icon-navigate{
  display: flex;
}
.gallery-guide-icon-navigate i,
.gallery-icon-navigate i{
  padding: 10px;
  border: 1px solid #FF4838;
  border-radius: 50%;
  color: #FF4838;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-icon-right{
  margin-left: 50px;
}
.gallery-guide-icon-navigate i:hover,
.gallery-icon-navigate i:hover{
  background-color: #FF4838;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.gallery-overlay{
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(206,20,70,.4);
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all .25s
}
.gallery-overlay i{
  color: #fff;
  font-size: 40px;
  transition: transform 0.2s ease-in-out;
}
  .tour-package-details, .package-info-tab, .p-info-featured-img, .featured-video  {
    left: 38%;
    bottom: -30px;
    width: auto;
    padding: 0;
    margin: 0;
    border-right: 5px;
    overflow: hidden;
  }

 .video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255,72,56,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


.featured-video {
  position: relative;
  top: -100px;
  overflow: hidden;
}

/* End link video */

.tour__detail--table {
  margin: 0;
}

.tour__detail--transport {
  text-align: center;
}

.tour__detail--transport img {
  width: 3%;
}

.tour__detail--comment-avt img {
  width: 100%;
}

.tour__detail--comment__title {
  color: #454545;
}

.tour__detail--comment__title span {
  font-size: 14px;
  text-transform: capitalize;
  color: #ff4838;
  padding-bottom: 10px;
}

.tour__detail--comment__rates {
  display: flex;
  justify-content: end;
  flex-direction: row;
}

.tour__detail--comment__rates svg {
  color: #ff4838;
  margin-right: 5px;
}

.tour__detail--comment__description {
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  padding-top: 8px;
  color: #666;
}

.tour__detail--viewALLComment {
  text-align: center;
  margin: 10%;
  color: #666;
  font-size: 17px;
  font-weight: 600;
}

.tour__detail--viewALLComment:hover {
  color: #ff4838;
  cursor: pointer;
}

.tour__detail--comment__inputs div input,
.tour__detail--comment__inputs div textarea {
  width: 100%;
  background: rgba(245,245,245,.7);
  border: 1px solid rgba(255,72,56,.15);
  box-sizing: border-box;
  border-radius: 100px;
  height: 50px;
  margin-top: 3%;
  appearance: none;
  padding-left: 3%;
}

.tour__detail--comment__inputs div input{
  border-radius: 100px;
}

.tour__detail--comment__inputs div textarea{
  border-radius: 30px;
  padding-left: 3%;
  padding-top: 2%;
  width: 100%;
  height: 60%;
}

.tour__detail--comment__inputs div input:focus,
.tour__detail--comment__inputs div textarea:focus {
  border: 1px solid #ff4838;
  outline: none;
}

.rate{

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #ff4838;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.submite-btn button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #ff4838;
  border-radius: 100px;
  border: none;
  padding: 14px 38px;
  transition: all .2s;
}

/* Start Tour detail Travel Plan */

.plans-accordion-single {
  border: none;
  margin-top: 40px;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: 80px;
}

.accordion-button {
  padding: 0 30px;
  padding-left: 0;
  cursor: pointer;
  background: #fff;
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 80px;
}

.accordion-button:not(.collapsed) {
  background: #fff;
  color: #fff;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../../../user/assets/img/tour__detail/icon_down.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../../../user/assets/img/tour__detail/icon_down.png);
  transform: rotate(-180deg);
}

.paln-index-circle {
  width: 75px;
  height: 75px;
  background: #ff4838;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(22,43,50,.5);
  border-radius: 50%;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-right: 25px;
}

.plan-title h5 {
  width: 100%;
  font-weight: 700;
  font-size: 23px;
  color: #2d373c;
}

.plan-title h6 {
  font-weight: 500;
  font-size: 16px;
  color: #ff4838;
  padding-top: 8px;
}

.accordion-body {
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 0;
}

.accordion-body  p {
  font-size: 16px;
  line-height: 28px;
  color: #666;
}

.accordion-body  ul {
  padding-top: 8px;
}

.accordion-body  ul li {
  font-weight: 500;
  font-size: 16px;
  color: #ff4838;
  padding-top: 5px;
}

.accordion-body  ul li svg {
  color: #162b32;
  margin-right: 8px;
}

/* End Tour detail travel Plan */


/* Start Tour detail Gallary  */

.tour__detail--gallary {
  overflow: hidden;
}

.tour__detail--gallary img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.tour__detail--gallary img:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all linear .3s;
}

/* End tour detail gallary */
.tour__detail-widget-style-2 {
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 5px;
}

.tour__detail--navbar {
  background-color: #162b32;
  color: white;
  padding: 10px 20px;
  line-height: 100%;
  align-items: center;
  border-radius: 10px  ;
}

.tour__detail--navbar h4 {
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  margin-top: 3px;
}

.tour__detail--navbar h3 {
  font-weight: 700;
  font-size: 25px;
  color: #ff4838;
}

.tour__detail--navbar h3 span {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.tour__detail--navbar__form {
  padding: 20px;
}

.custom-input-group {
  margin: 3% 0 0 0;
}

.custom-input-group input { 
  height: 45px;
  padding: 7px 12px;
  background: #fff;
  background: rgba(245,245,245,.7);
  border: 1px solid rgba(255,72,56,.15);
  box-sizing: border-box;
  border-radius: 100px;
  height: 50px;
  margin-top: 14px;
  appearance: none;
}

.custom-input-group input:focus {
  outline: 1px solid #ff4838;
}

.custom-input-group svg {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  right: 6%;
  width: 40px;
  z-index: 1;
}

.custom-input-group select {
  background: rgba(245,245,245,.7);
  border: 1px solid rgba(255,72,56,.15);
  box-sizing: border-box;
  border-radius: 100px;
  height: 52px;
  margin-top: 14px;
  padding: 15px 20px;
  appearance: none;
  position: relative;
  height: 45px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 13px;
  color: #2d373c;
  display: block;
  width: 100%;
  transition: all .4s ease;
  margin-bottom: 0;
}

.custom-input-group select:focus {
  outline: 1px solid #ff4838;
}

.custom-input-group textarea {
  border-radius: 30px ;
    padding: 10px 0 0 20px;
    border: 1px solid rgba(255,72,56,.15);
}

.custom-input-group textarea:focus {
  outline: #ff4838;
  border: 1px solid #ff4838;
}

.custom-input-group textarea  {
  background-color: rgba(245,245,245,.7);
}

.submite-btn {
  text-align: center;
  margin: 5% 0 5% 0;
}

.submite-btn button:hover {
  background-color: #162b32;
  color: #ff4838;
}

.tour__detail--widget-title {
  background-color: #162b32;
  text-align: center;
  padding: 13px 20px  ;
  border-radius: 6px;
}

.tour__detail--packages__tag {
  padding: 5px;
  border: 1px solid rgba(45,55,60,.3019607843);
  text-align: center;
  color: #2d373c;
  cursor: pointer;
}

.tour__detail--packages__tag:hover {
  background-color: #ff4838;
  color: #fff;
  border: 1px solid #ff4838;
}

/* End Gallery */
/* End Tour Detail*/

/* Start Contact */
.contact-infor{
  position: relative;
  display: flex;
  margin-bottom: 120px;
  margin-top: 60px;
}
.contact-infor-img{
  flex: 0.6;
}
.contact-infor-content{
  flex: 0.4;
  background: #fff;
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 5px;
  padding: 40px 40px 45px;
  display: block;
  height: 540px;
  width: 520px;
  position: absolute  ;
  top: 60px;
  right: 180px;
}
.contact-infor-img img{
  width: 85%;
}
.contact-content-text{
  background: #fff;
  box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  border-radius: 5px;
  padding: 15px 20px;
  margin-top: 30px;
  border-radius: 5px 35px 5px 5px;
  border: 1px solid #eee;
  max-width: 450px;
  transition: all .4s;
}
.contact-infor-content ul{
  list-style: none;
  padding-left: 0;
}
.contact-infor-content ul li:hover{
  background: #00152b;
}
.contact-infor-content ul li:hover a,
.contact-infor-content ul li:hover h6{
  color: #fff;
}
.contact-content-text h6{
  font-weight: 700;
  font-size: 16px;
  color: #2d373c;
  transition: all .3s;
}
.contact-content-text a{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #5c5c5c;
  display: inline-block;
  transition: all .3s;
  word-break: break-all;
}
.contact-content-heading h3{
  font-size: 30px;
  color: #2d373c;
  font-weight: 700;
  display: inline-block;
  position: relative;
  padding-bottom: 7px;
}
.contact-content-heading h3::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 80px;
  height: 3px;
  background: linear-gradient(90deg,#FF4838 46.35%,rgba(255,255,255,0) 100%);
  border-radius: 5px;
}
.contact-map{
  margin-bottom: 170px;
}
.blog-detail-form,
.contact-form{
  margin-bottom: 150px;
}
.contact-form-heading h4{
  font-weight: 700;
  font-size: 25px;
  color: #2d373c;
}
.blog-detail-form textarea,
.blog-detail-form input,
.contact-form textarea,
.contact-form input{
  width: 100%;
  margin: 15px 0;
}
.blog-detail-form input,
.contact-form input{
  background: rgba(245,245,245,.7);
  border: 1px solid rgba(255,72,56,.20);
  box-sizing: border-box;
  border-radius: 100px;
  height: 50px;
  margin-top: 14px;
  appearance: none;
  padding-left: 20px;
  outline: none;
}
.blog-detail-form textarea:focus,
.blog-detail-form input:focus,
.contact-form textarea:focus,
.contact-form input:focus{
  border: 1px solid #ff4838;
}
.blog-detail-form textarea,
.contact-form textarea{
  background: rgba(245,245,245,.7);
  border: 1px solid rgba(255,72,56,.20);
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px;
  outline: none;
}
.blog-detail-form-button button,
.contact-form-button button{
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #ff4838;
  border-radius: 100px;
  border: none;
  padding: 14px 38px;
  transition: all .2s;
}
.blog-detail-form-button button:hover,
.contact-form-button button:hover{
  background-color: #fff;
  border: 1px solid #ff4838 ;
  color: #ff4838;
}
/* End Contact */

  /* End Tour Detail*/

  .header-body .main {
    padding-top: 100px;
  }
  
  .header-body .left-video {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .header-body .left-video img {
    width: 100%;
    cursor: pointer;
  }
  
  .header-body .left-video .video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255,72,56,.5);
  }
  
  .header-body .left-video .video-overlay a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 53.11px;
    height: 53.11px;
    background: rgba(45,55,60,.6);
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: all .25s;
  }
  
  .header-body .left-video .video-overlay:hover a {
    background: rgba(125,163,182,.8);
    cursor: pointer;
  }
  
  .header-body .left-video .video-overlay a::before {
    position: absolute;
    content: "";
    inset: -6px;
    background: rgba(45,55,60,.5);
    border-radius: 50%;
    z-index: 1;
    transition: all .25s;
  }
  
  .header-body .left-video .video-overlay:hover a::before {
    background: rgba(45,55,60,.6);
    inset: -12px;
  }
  
  .header-body .left-video .video-overlay svg {
    font-size: 30px;
    color: #fff;
    position: relative;
    z-index: 2;
  }
  
  .header-body .left-video .video-overlay svg::after {
    position: absolute;
    content: "";
    inset: -12px;
    background: rgba(45,55,60,.4);
    border-radius: 50%;
    z-index: -1;
    transition: all .25s;
  }
  
  .header-body .left-video .video-overlay:hover svg::after {
    background: rgba(45,55,60,.5);
    inset: -30px;
  }
  
  .header-body .about_left .left-img {
    border-radius: 5px;
    overflow: hidden;
    cursor: initial;
    margin-top: -60px;
  }
  
  .header-body .about_left .left-img img {
    width: 100%;
  }
  
  .header-body .about_right h2 {
    font-weight: 800;
    font-size: 42px;
    color: #2d373c;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .header-body .about_right span {
    color: #ff4838;
  }
  
  .header-body .about_right li {
    text-align: center;
    padding: 20px 12px;
    color: #162b32;
    min-width: 170px;
    cursor: pointer;
  }
  
  .header-body .about_right li:first-child {
    color: #ff4838;
    background-color: white;
    box-shadow: 3px 5px 35px rgba(86,68,169,.1);
  }
  
  .header-body .about_right li h3 {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: .03em;
  }
  
  .header-body .about_right li h6 {
    font-size: 18px;
    padding-top: 10px;
  }
  
  .header-body .about_right .right-content p {
    font-size: 16px;
    line-height: 30px;
    color: #666;
  }
  
  .header-body .package {
    padding-top: 100px;
  }
  
  .header-body .package_left h2 {
    font-weight: 800;
    font-size: 45px;
    color: #2d373c;
  }
  
  .header-body .package_left span {
    color: #ff4838;
  }
  
  .header-body .package_left .achievement {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border: 1px solid rgba(255,72,56,.3019607843);
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 30px;
    transition: all .35s ease-in-out;
  }
  
  .header-body .package_left .achievement:hover {
    box-shadow: 3px 5px 35px rgba(86,68,169,.1);
    border-color: transparent;
  }
  
  .header-body .package_left .achievement .counter {
    min-width: 133px;
  }
  
  .header-body .package_left .achievement h3 {
    font-weight: 800;
    font-size: 35px;
    letter-spacing: .03em;
    color: #ff4838;
    transition: all .3s;
  }
  
  .header-body .package_left .achievement h6 {
    padding-top: 7px;
    font-weight: 500;
    font-size: 18px;
    color: #ff4838;
    transition: all .3s;
  }
  
  .header-body .package_left .achievement p {
    margin-left: 15px;
    font-size: 15px;
    line-height: 25px;
    color: #666;
  }
  
  .header-body .package_left .achievement:hover .counter h3,
  .header-body .package_left .achievement:hover .counter h6 {
    color: #2d373c;
  }
  
  .header-body .package_right img {
    width: 100%;
    padding-top: 10px;
  }
  
  .header-body .client {
    margin-top: 120px;
    background: #162b32;
    padding: 90px 0;
    overflow: hidden;
    position: relative;
  }
  
  .header-body .client_img {
    position: absolute;
    inset: 0;
    background: url(../../../user/assets/img/aboutus/aboutus.png) no-repeat center;
    background-size: cover;
  }
  
  .header-body .client .about_say h4 {
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;
    color: white;
    margin-top: -7px;
  }
  
  .header-body .client .about_say p {
    padding-top: 10px;
    font-size: 16px;
    color: white;
  }
  
  .header-body .client-info {
    background: #fff;
    min-height: 100px;
    position: relative;
    border-radius: 5px;
    padding: 5px 25px 25px;
    transition: all .35s;
    margin-top: 20px;
  }
  
  .header-body .client-info .info-body p {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: #666;
  }
  
  .header-body .client-info .body-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  .header-body .client-info .body-bottom .body-review h4 {
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
    color: #262339;
  }
  
  .header-body .client-info .body-bottom .body-review h6 {
    padding-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a5a5a5;
    font-size: 18px;
    text-transform: capitalize;
  }
  
  .header-body .client-info ul li svg {
    font-size: 16px;
    color: #ff4838;
  }
  

  