<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <p>Duis rutrum nisl urna. Maecenas vel libero faucibus nisi venenatis hendrerit a id lectus. Suspendissendt molestie turpis nec lacinia vehicula.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3>Quick Link</h3>
                <ul class="list-inline">
                    <li><a class="text-decoration-none" href="">About Us</a></li>
                    <li><a class="text-decoration-none" href="">Tour Package</a></li>
                    <li><a class="text-decoration-none" href="">Destination</a></li>
                    <li><a class="text-decoration-none" href="">Tour Guide</a></li>
                    <li><a class="text-decoration-none" href="">Booking Process</a></li>
                    <li><a class="text-decoration-none" href="">Blog</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3>Tour Type</h3>
                <ul class="list-inline">
                    <li><a class="text-decoration-none" href="">Wild & Adventure Tours</a></li>
                    <li><a class="text-decoration-none" href="">Group Tour</a></li>
                    <li><a class="text-decoration-none" href="">Seasonal Tours</a></li>
                    <li><a class="text-decoration-none" href="">Relaxation Tours</a></li>
                    <li><a class="text-decoration-none" href="">Family Friendly Tours</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <h3 class="text-center">Gallery</h3>
                <div class="row img">
                    <div class="d-flex">
                        <img src="../../../user/assets/img/footer/fg-1.png" alt="">
                        <img src="../../../user/assets/img/footer/fg-2.png" alt="">
                        <img src="../../../user/assets/img/footer/fg-3.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="row img">
                        <div class="d-flex">
                            <img src="../../../user/assets/img/footer/fg-4.png" alt="">
                            <img src="../../../user/assets/img/footer/fg-5.png" alt="">
                            <img src="../../../user/assets/img/footer/fg-6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
  </body>
  </html>