<nav class="navbar navbar-expand-xl navbar-light p-0">
  <div class="container-fluid row px-4">
    <div class="col-4 col-md-4 col-xl-6">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item pe-2">
              <a class="nav-link px-2 py-4" href="homepage.php">Home</a>
            </li>
            <li class="nav-item pe-2">
              <a class="nav-link px-2 py-4" href="aboutus.php">About Us</a>
            </li>
            <li class="nav-item pe-2">
              <a class="nav-link px-2 py-4" href="Destination.php">Destination</a>
              <!-- <ul class="des list-inline">
                <li><a class="text-decoration-none" href="Destination.php">Destination</a></li>
                <li><a class="text-decoration-none" href="">Destination Details</a></li>
              </ul> -->
            </li>
            <li class="nav-item pe-2">
              <a class="nav-link px-2 py-4" href="Tour.php">Tour</a>
            </li>
            <li class="nav-item pe-2">
              <a class="nav-link px-2 py-4" href="Blogs.php">Blogs</a>
            </li>
            <li class="nav-item pe-2">
              <a class="nav-link px-2 py-4" href="Gallery.php">Gallery</a>
            </li>
            <li class="nav-item pe-2">
              <a class="nav-link px-2 py-4" href="Contact.php">Contact Us</a>
            </li>
          </ul>
        </div>
    </div>
    <div class="col-4 col-md-4 col-xl-3 justify-content-xl-center d-none d-sm-block">
      <div class="logo text-center">
        <a href="../../../user/views/homepage.php">
          <img src="../../../user/assets/img/logo/logo-w.png" alt="">
        </a>
      </div>
    </div>
    <div class="col-4 col-md-4 col-xl-3">
      <div class="nav-right d-flex justify-content-end">
        <div class="feature col-xl-4 d-flex justify-content-sm-center">
          <div class="user">
            <ul class="list-inline">
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle text-light" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                </a>
                <ul class="user-dropdown dropdown-menu p-0 bg-color border-0 rounded-0" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item ps-3" href="#">My Account</a></li>
                  <li><a class="dropdown-item ps-3" href="#">Login</a></li>
                  <li><a class="dropdown-item ps-3" href="#">Registration</a></li>
                  <li><a class="dropdown-item ps-3" href="#">Setting</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="category">
            <ul class="list-inline">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-square text-light" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                  <path d="M6 11.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="contact col-xl-8 d-none d-xl-block mt-2">
          <div class="infor_contact d-flex justify-content-end">
            <div class="phone">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-vibrate text-orange" viewBox="0 0 16 16">
                <path d="M10 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM6 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"/>
                <path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2M1.599 4.058a.5.5 0 0 1 .208.676A6.967 6.967 0 0 0 1 8c0 1.18.292 2.292.807 3.266a.5.5 0 0 1-.884.468A7.968 7.968 0 0 1 0 8c0-1.347.334-2.619.923-3.734a.5.5 0 0 1 .676-.208m12.802 0a.5.5 0 0 1 .676.208A7.967 7.967 0 0 1 16 8a7.967 7.967 0 0 1-.923 3.734.5.5 0 0 1-.884-.468A6.967 6.967 0 0 0 15 8c0-1.18-.292-2.292-.807-3.266a.5.5 0 0 1 .208-.676M3.057 5.534a.5.5 0 0 1 .284.648A4.986 4.986 0 0 0 3 8c0 .642.12 1.255.34 1.818a.5.5 0 1 1-.93.364A5.986 5.986 0 0 1 2 8c0-.769.145-1.505.41-2.182a.5.5 0 0 1 .647-.284m9.886 0a.5.5 0 0 1 .648.284C13.855 6.495 14 7.231 14 8c0 .769-.145 1.505-.41 2.182a.5.5 0 0 1-.93-.364C12.88 9.255 13 8.642 13 8c0-.642-.12-1.255-.34-1.818a.5.5 0 0 1 .283-.648z"/>
              </svg>
            </div>
            <div class="hotline fw-bold">
              <div><a href="" class="text-decoration-none text-white">Hot Line Number</a></div>
              <div><a href="" class="text-decoration-none text-white">+880 176 1111 456</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>